<%- include('header'); -%>
 <div class="content">
 <h1 id="welcome">Contacts</h1>
 <p>Name: Alexander</p>
 <p>Address: Campus The Avenue, Edinburgh EH14 4AS</p>
 <p>Phone: 071234567</p>
 <p>Email: aih2000@hw.ac.uk</p> <br>

 </div>
<%- include('footer'); -%>