<%- include('header'); -%>

<div class="content">
  <h1 id="welcome">Register</h1>
  <form action="/api/register" method="post">
    <p> Society </p> <input type="text" name="login" required>
    <p> Full Name </p> <input type="text" name="login" required>
    <p> Address </p> <input type="text" name="login" required>
    <p> zipcode </p> <input type="text" name="login" required>
    <p> City </p> <input type="text" name="login" required>
    <p> Phone </p> <input type="number" name="login" required>
    <p> fax </p> <input type="number" name="login" required>
    <p> Username </p> <input type="text" name="login" required>
    <p> password </p> <input type="password" name="pwd" required>
    
    <p> </p> <input type="submit">
  </form>
  </div>


<%- include('footer'); -%>